body{
    margin: 0%;
    background-color:black;
    box-sizing:border-box
}

p{
    color:#778899;
    font-family: "Lato", sans-serif;
}

h4{
    color:white;
    font-size:18px;
    font-weight:700;
    font-family: Montserrat;
}

/*vertical-scroll-menu*/
.vertical-scroll-menu {
    font-family: Montserrat;
    color:white;
    overflow-y:auto;
    width:180px;
    height:535px;
    background-color:black;
    position:fixed;
    text-align: left;
    padding:50px 30px 50px 50px;
    text-transform: uppercase;
    float: left;
}

/*domain picture*/
.dp {
    height:150px;
    width:150px;
    border: none;
    border-radius: 50%;
    position: relative;
    right:5px;
}

/*Name*/
.name {
    font-size:20px;
}

/*Links*/
a {
    color:white;
    text-decoration:none;
    font-size: 14px;
    font-weight: 700;   
}

a:hover{
    text-decoration:underline;
    text-decoration-color: #1E90FF;
    text-decoration-thickness:5px;
}
ul {
    padding:0;
    margin:0;
}
li{
   margin:20px 0;
}

/*social links*/
.social-links {
    cursor: pointer;
    margin:50px 0 0 0;
    
}

/*Copyright line*/
h5{
    color:#778899;
    text-transform:none;
    font-family: 'Times New Roman', Times, serif;
}

/*Icons*/
svg {
    margin:0 16px 0 16px;
}

svg:hover {
    color: #1E90FF;
}

/*Home section*/
.home {
    width: 583px;
    color:white;
    position:relative;
    left:280px;
    padding:150px 200px;
}

.greet-message {
    text-align: left;
    text-transform: uppercase;
    color: white;
    font-size:72px;
    line-height:0.9em;
    font-weight:900;
    font-family: Montserrat;
    margin-top:0;
}

.intro {
    font-family:Lato,serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.home button {
    cursor: pointer;
    font-family:Montserrat;
    padding:15px 20px;
    margin:20px  0; 
    height:50px;
}

.portfolio{
    color:white;
    background-color:#1E90FF;
    border:none;
}

.hire{
    color:#1E90FF;
    background-color:black;
    border-color:#1E90FF;
    border-width:2px;   
}

/*Qualification section*/

.qualification{
    position:relative;
    left:280px;
    width: 583px;
    padding:50px 100px;
    display:inline-block;
}

h2{
    color:white;
    font-family: Montserrat;
    font-size: 30px;
    font-weight:900px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.square{
    height:10px;
    width:10px;
    background-color:#1E90FF;
    display: inline-block;
}

.qualification h4{
    display: inline-block;
    margin: 15px 0 0 40px;
}

.qualification p{
    margin-left:55px;
    display: inline-block;
    margin-top:10px;
    line-height:0.8;
}

.qualification h5{
    color:#778899;
    display: inline-block;
    font-family:Lato;
}

.vl{
    border-left: 1px solid rgb(92, 95, 92);
    height: 205px;
    position: absolute;
    left:105px;
    top:251px;

}

/*Experience section*/

.experience {
    position:relative;
    left:280px;
    width: 583px;
    padding:50px 100px;
}
.experience h4{
    display: inline-block;
    margin: 15px 0 0 40px;
}

.experience p{
    margin-left:55px;
    display: inline-block;
    margin-top:10px;
    line-height:0.8;
}

.experience h5{
    color:#778899;
    display: inline-block;
    font-family:Lato;
}

/*Skills section*/

.skills {
    position:relative;
    left:280px;
    width: 63%;
    padding:50px 100px;
}

.container{
    width:50%;
    display: inline-block;
}

.skill-bar {
    width: 90%; /* Full width */
    background-color:#778899; /* Grey background */
    height:5px;
}

.skills h6{
    display: inline-block;
    color:white;
    font-size:15px;
}

.skills h4{
    display: inline-block;
}

.html { 
    width: 70%; /* Full width */
    background-color:#1E90FF; /* Grey background */
    height:5px;
}

.css { 
    width: 70%; /* Full width */
    background-color:#1E90FF; /* Grey background */
    height:5px;
}

.js { 
    width: 70%; /* Full width */
    background-color:#1E90FF; /* Grey background */
    height:5px;
}

.py { 
    width: 70%; /* Full width */
    background-color:#1E90FF; /* Grey background */
    height:5px;
}